.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.rounded-rectangle {
  position: relative;
  background-color: rgb(195, 224, 29);
  transition: background-color 0.3s ease;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
  color: rgb(0,0,0);
}

.rounded-rectangle:hover {
  background-color: rgb(195, 224, 100); /* Change to the color you prefer */
  animation: squash-sideways 1s forwards;
}

.rounded-rectangle:active {
  background-color: #FFFFFF; /* Change to white when clicked */
}

.App-link {
  color: #000000;
}

.dropdown-top {
  position: relative;
  background-color: hsl(180, 35%, 55%);
  color: rgb(0,0,0);
  transition: background-color 0.3s ease;
  border-radius: 15px;
  padding: 10px;
  display: inline-block;
}

.dropdown-top:hover {
  background-color: hsl(180, 22%, 65%);
}

.dropdown-item {
  background-color: hsl(0, 0%, 85%);
  width: 300px;
  height: 50px;
  outline: auto;
}

.dropdown-parent {
  background-color: hsl(0, 0%, 85%);
  width: 300px;
  height: 50px;
  z-index: 1;
  transform-origin: top;
}

.dropdown-parent:hover {
  animation: squash-sideways 1s forwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Jake-up-down{
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 50px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes squash-sideways {
  0% { transform: scaleX(1) scaleY(1); }
  50% { transform: scaleX(1.25) scaleY(0.8); }
  100% { ransform: scaleX(1) scaleY(1); }
}

@keyframes dropdown-open {
  0% { transform: scaleX(1) scaleY(1); }
  50% { transform: scaleX(1.25) scaleY(0.8); }
  100% { ransform: scaleX(1) scaleY(1); }
}